@font-face{
  font-family: Geomanist;
  src: url('../fonts/Geomanist-Regular.otf');
}

$color-background: #F3F3F3;
$font-family-main: 'Raleway', sans-serif;
$font-geo: Geomanist;
$color-main:  #747474;
$color-active: #B8807F;
$color-main-hover: #3F3F3F;
$color-unactive: #827878;
$color-navbar: #34495E;

html, body, label{
  font-family: $font-geo !important;
  font-size: 16px;
  font-weight: 300 !important;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: $color-background;
  z-index: 2;
}

p, li{
  color: $color-main-hover !important;
}

a{
  text-decoration: none !important;
  color: $color-active;
}
a:hover{
  color: #985C5A;
}

.navbar-default{
  text-align:center;
  background: transparent;
  z-index: 10;
  top:0;
  left:0;
  right:0;
  .container-fluid{
    .navbar-header{
      .navbar-brand{
        img{
          display:inline-block;
          margin: 0;
          max-height: 50px;
          position:relative;
          bottom: 15px;
          right: 10px;
        }
        .brand-name{
          display:inline-block;
          color: $color-background !important;
          position:relative;
          bottom: 14px;
        }
      }
    }
  }
}

.dropdown-menu{
  left: -35%;
  text-align:center;
  border-width: 0px;
  background: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  li{
    background: transparent;
    a{
      color: white;
      font-family: $font-geo;
      font-weight:300;
    }
  }
  li:hover{
    background: transparent;
    a{
      color: $color-active;
      background: transparent;
    }
  }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus
{
  background-color: transparent;
}


.navbar {
  position: absolute;
  border-radius: 0px;
  opacity: 0.95;
  margin: 0 auto;
}

.container-fluid{
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  max-height: 955px;
}

#nav.affix-top{
  position:absolute;
  background-color:transparent;
}

#nav.affix{
  position:fixed;
  background-color: $color-navbar;
  -webkit-transition: all .6s ease-in-out;
  .container-fluid{
    #bs-example-navbar-collapse-1{
      .navbar-nav{
          li.dropdown{
            ul.dropdown-menu{
              background-color:$color-navbar;
            }
          }
      }
    }
  }
}

footer {
  text-align: center;
  margin: 0;
  background: $color-navbar;
  position: relative; }

.footer-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: inline-block; }

.logo-sector{
  display:inline-block;
  img{
    max-height:200px;
  }
}

.copyrights {
  text-align: center;
  margin: 0px auto 0px auto; }

.copyright {
  margin: 0;
  color: $color-background !important;
  margin-top: 20px; }

.list-inline {
  text-align: left;
  margin-left: 10px; }
  .list-inline li {
    font-weight: 300; }
  .social_list a {
    text-decoration: none !important; }

.social_btn {
  display: inline;
  color: white; }

p, li {
  text-decoration: none; }

.social-header {
  color: $color-background !important;
  text-align: left;
  line-height: 3;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 20px; }

.icon, .social-icon {
  display: block;
  width: 35px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 3px;
  float: left;
  color: #FFF;
  font-size: 16px;
  text-align: center; }

.social-icon {
  height: 35px;
  margin-top: 5px;
  margin-right: 5px; }
  .social-icon i {
    line-height: 2px; }

.social-icon.fb {
  background: #3B5998; }

.social-icon.google {
  background: #DD4B39; }

.social-icon.linkedIn {
  background: #3E5065; }

.footer-row {
  margin: 0; }

.subscription-header {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: $color-background !important;
  text-align: right;
  margin-bottom: 0; }


.subscription {
  margin-top: 20px; }

  @media screen and (max-width: 767px) {
    .footer-container {
        max-width: 100%;
      }

    .subscr-sector {
        padding-right: 0;
        margin: 0 auto;
        .subscription-header {
            margin-bottom: 20px;
            margin-top: 10px;
            font-size: 16px;
            text-align:center;
          }
      }

    .subscr-sector .subscription {
        margin-top: 0;
      }

    .social-sector {
        padding-left: 0;
        .social-header {
            font-size: 15px;
            text-align:center ;
          }
        .social_list{
          display: inline-block;
        }
      }

    .copyrights .list-inline {
        text-align: center;
      }

    .caption {
      font-size: 35px !important; }

    .contrast h4 {
      font-size: 20px !important; }

    .input-group-btn a.button {
      padding: 0; }
    }

.xs-input{
  height: 30px;
}

.footer-content{
  display:inline-block;
}

input.xs-input{
  border-radius: 0px !important;
  -webkit-appearance: none !important;
}
