@import 'index';

.page-content{
  margin-top: 70px;
  width: 100%;
  display: inline-block;
  .top{
    .content{
      .left{
        float:left;
        .profile-avatar{
          float:left;
          display:block;
          width:100%;
        }
      }
      .right{
        float:right;
        padding-left:30px;
      }
    }
  }

  .middle{

  }

  .bottom{
    .comments{
      display:inline-block;
      .comment-form{
        max-width: 650px;
        margin: 0 auto;
      }
      .comment{
        margin:0 auto;
        display:inline-block;
        .author-image{
          display:inline-block;
          float:left;
          margin:0 15px;
          .img-circle{
            min-width:100px;
            max-width:150px;
            float:left;
            display:inline-block;
          }
        }
        .content{
          overflow:visible;
        }
      }
    }
  }
}
