@import 'index';

.page-content{
  margin-top: 70px;
  width: 100%;
  display: inline-block;
  .top{
    .content{
      .left{
        float:left;
        .profile-avatar{
          float:left;
          display:block;
          width:100%;
        }
      }
      .right{
        float:right;
        margin-left:20px;
      }
    }
  }

  .middle{

  }

  .bottom{
    .comments{
      .comment-form{
        max-width: 650px;
        margin: 0 auto;
      }
      .comment{
        max-width: 80%;
        margin:0 auto;
      }
    }
  }
}
