@import 'common';

$color-star-hover: #FFED5F;
$color-star: #DBCB52;
$color-eye-hover: #AED6E9;
$color-eye: #86B7CF;
$color-panel: #45676F;
$color-heart: $color-active;
$color-heart-hover: #D77C7A;

body{
  width: 100% !important;
  background-color: $color-panel !important;
}

#nav.affix{
  position: static;
}

.content-wrapper{
  overflow:hidden;
  margin:0 auto;
  position: relative;
  .leftPart{
    font-size: 20px;
    color: white !important;
      .profile-image{
        height:270px;
        min-width: 270px;
        width: 60%;
        margin: 0 auto;
        margin-top:14%;

        a{
          display:block;
          height:100%;
          max-width: 270px;
          margin: 0 auto;

          img{
            height: 100%;
            width: 80%;
            max-width: 270px;
            max-height: 270px;
            min-width: 270px;
            min-height: 270px;
            display: block;
            margin: 0 auto;
          }
        }

      }
    .author-name{
      margin: 20px auto;
      font-size: 25px;
      text-align:center;
      font-family: $font-geo;
      a{
        color: $color-background;
      }
    }
    .user-action-buttons{
      margin: 0px auto 20px auto;
      .btn-follow{
        text-align:center;
        margin-bottom: 20px;
      }
      .action-buttons{
        margin-top: 10px;
        list-style-type: none;
        text-align: center;
        font-size: 20px;
        display:inline-block;
        width: 100%;
        li{
          display: inline-block;
          margin-left: 25px;
          margin-right: 25px;
          a{
            display:inline-block;
          }
          .fa-heart{
            color: $color-heart;
          }
          .fa-star{
            color: $color-star;
          }
          .fa-eye{
            color: $color-eye;
          }
          .fa-heart:hover{
            color: $color-heart-hover;
          }
          .fa-star:hover{
            color: $color-star-hover;
          }
          .fa-eye:hover{
            color: $color-eye-hover;
          }
          p{
            color: $color-background !important;
            margin: 0;
            font-size: 30px;
          }

        }
      }

    }
    .team-header{
      text-align:center;
      font-family: $font-geo;
      color: $color-background;//$color-main;
      font-size: 22px;
      margin: 40px auto 0px auto;
    }
    .team-specs{
      margin-bottom: 20px;
      text-align: center;
      .spec{
        margin-top: 20px;
        margin-bottom: 20px;
        .spec-container{
          display:inline-block;
          width: 100%;
          text-align:center;

          .spec-name{
            max-width: 80%;
            margin: 0;
            display:inline-block;
            border-radius: 20px;
            font-size: 18px;
            //color: $color-main;
            float: center;
          }
          .spec-name:hover{
            color: white;
          }
          .btn-apply{
            display:inline-block;
            float: center;
            max-width:46px;
            margin-left: 10px;
            //color: $color-main;
            font-size: 20px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 50%;
          }
          .btn-apply:hover{
            color:white;
          }
        }
      }
    }
    .team-count{
      font-size: 30px;
      color: $color-background !important;
      }

    }

  .rightPart{
    font-size: 18px;
    background-color: $color-background;
    .project-name{
      margin: 85px 0px 0px 0px;
      font-size: 26px;
      font-family: $font-family-main;
      font-weight: 300;
      text-align:center;
    }
    .project-info{
      .basic-info{
        width: 50%;
        margin: 25px auto 0px auto;
        p{
          margin-bottom: 10px;
          text-align: left;
          display: inline-block;
          min-width: 100px;
        }
        span{
          display: inline;
        }




      }

      .additional-info{
        width: 50%;
        margin: 50px auto;
        .progress-bar-header{
          color: $color-main-hover !important;
          text-align:center;
          font-size: 20px;
        }
        .progress{
            border-radius: 0;
        }
        .attachments{
          font-size: 20px;

          .attachments-list{
            font-size: 16px;
            list-style-type: none;
            .attachment{
              display: block;
            }
          }
        }
        .links{
          @extend .attachments;
          margin-top: 20px;

          .links-list{
            font-size: 16px;
            list-style-type: none;
            .link{
              display: block;
            }
          }

        }
        .media{
          @extend .links;
          .media-list{
            font-size: 16px;
            list-style-type: none;
            .media{
              display: inline-block;
              max-width: 200px;
              margin: auto 10px auto 0px;
              img{
                max-width: 100%;
                max-height: 100%;
              }
              .media-header{
                margin-top:10px;
                font-size: 16px;
                text-align: center;
              }

            }
          }
        }
      }
    }
    .comments{

    }
  }
  clear:both;
}

hr{
  max-width: 250px;
  margin: 5px auto 15px 0px;
  opacity: 0.4;
  border-color: $color-main;
}

.input-group-btn{

  a{
    text-decoration: none;
    margin-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  .content-wrapper{
    .rightPart{
      .project-info{
        .basic-info{
          width: 90%;
        }
        .additional-info{
          width: 90%;
          text-align:center;
          hr{
            max-width: 100%;
          }
        }
      }
    }
  }
}
