@import 'common';

$color-star-hover: #FFED5F;
$color-star: #DBCB52;
$color-eye-hover: #AED6E9;
$color-eye: #86B7CF;
$color-panel: #336E7B;
$color-heart: $color-active;
$color-heart-hover: #D77C7A;
$color-comment: #EAE8E8;
$color-border: #D8D8D8;

body{
  width: 100% !important;
  background-color: $color-panel !important;
}

span{
  color: $color-main;
}

#nav.affix{
  position: relative;
}

.content-wrapper{
  overflow:hidden;
  margin:0 auto;
  position: relative;
  .author-section{
    font-size: 20px;
    color: white !important;
      .profile-image{
        height:270px;
        min-width: 270px;
        width: 60%;
        margin: 0 auto;
        margin-top:14%;

        a{
          display:block;
          height:100%;
          max-width: 270px;
          margin: 0 auto;
        }
      }
    .author-name{
      margin: 20px auto;
      font-size: 30px;
      text-align:center;
      font-family: $font-family-main;
      font-weight: 400;
      a{
        color: $color-background;
      }
    }
    .user-action-buttons{
      margin: 0px auto 20px auto;
      .btn-follow{
        text-align:center;
        margin-bottom: 20px;
        a{
          font-size: 20px;
        }
      }
      .action-buttons{
        margin-top: 10px;
        list-style-type: none;
        text-align: center;
        font-size: 20px;
        display:inline-block;
        width: 100%;
        li{
          display: inline-block;
          margin-left: 25px;
          margin-right: 25px;
          a{
            display:inline-block;
          }
          .fa-heart-o{
            color: $color-heart;
          }
          .fa-star-o{
            color: $color-star;
          }
          .fa-eye{
            color: $color-eye;
          }
          .fa-heart-o:hover{
            color: $color-heart-hover;
          }
          .fa-star-o:hover{
            color: $color-star-hover;
          }
          .fa-eye:hover{
            color: $color-eye-hover;
          }
          p{
            color: $color-background !important;
            margin: 0;
            font-size: 30px;
          }

        }
      }

    }
    .team-header{
      text-align:center;
      font-family: $font-family-main;
      font-weight: 400;
      color: $color-background;
      font-size: 22px;
      margin: 40px auto 0px auto;
    }
    .team-specs{
      margin-bottom: 20px;
      text-align: center;
      .spec{
        margin-top: 20px;
        margin-bottom: 20px;
        .spec-container{
          display:inline-block;
          width: 100%;
          text-align:center;

          .spec-name{
            max-width: 80%;
            margin: 0;
            display:inline-block;
            font-size: 18px;
            color: $color-background;
          }
          .spec-name:hover{
            color: white;
          }
          .btn-apply{
            display:inline-block;
            float: center;
            max-width:46px;
            margin-left: 10px;
            font-size: 20px;
            padding-left: 15px;
            padding-right: 15px;
            color: $color-background;
            text-align: center;
          }
          .btn-apply:hover{
            color:white;
          }
        }
      }
    }
    .team-count{
      font-size: 30px;
      color: $color-background !important;
      font-weight: 100;
      }

    }

  .project-section{
    border-left-color: #548894;
    border-left-style: solid;
    border-left-width: 2px;
    font-size: 18px;
    background-color: $color-background;
    .project-name{
      padding: 65px 0px 60px 0px;
      font-size: 40px;
      font-family: $font-geo;
      font-weight: 400;
      text-align:center;
      color: $color-main-hover;
      border-bottom: $color-border;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    .project-info{
      .basic-info{
        width: 50%;
        margin: 25px auto 0px auto;
        p{
          margin-bottom: 10px;
          text-align: left;
          display: inline-block;
          min-width: 100px;
        }
        span{
          display: inline;
        }
      }

      .additional-info{
        width: 50%;
        margin: 50px auto 60px auto;
        .progress-bar-header{
          color: $color-main-hover !important;
          text-align:center;
          font-size: 25px;
          margin-bottom: 20px;
        }
        .progress{
            border-radius: 0;
            margin-bottom: 60px;
        }
        .attachments{
          font-size: 25px;

          .attachments-list{
            font-size: 16px;
            list-style-type: none;
            .attachment{
              display: block;
              font-size: 16px;
            }
          }
        }
        .links{
          @extend .attachments;
          margin-top: 20px;

          .links-list{
            font-size: 16px;
            list-style-type: none;
            .link{
              display: block;
              font-size: 16px;
            }
          }

        }
        .media{
          @extend .links;
          .media-list{
            font-size: 16px;
            list-style-type: none;
            .media{
              display: inline-block;
              max-width: 200px;
              margin: auto 10px auto 0px;
              img{
                max-width: 100%;
                max-height: 100%;
              }
              .media-header{
                margin-top:10px;
                text-align: center;
                font-size: 16px;
              }

            }
          }
        }
      }
    }
    .comments{
      border-top: $color-border;
      border-top-width: 2px;
      border-top-style: solid;
      .comments-header{
          padding: 60px;
          text-align: center;
          font-size: 35px;
          margin: 0;
      }
      .comment{
        width: 90%;
        margin:0 auto;
        margin-bottom: 30px;
        .avatar-container{
          text-align:right;
          .author-image{
            margin-right:30px;
            float:center;
            display:inline-block;
            width: 100px;
            height: 100px;
            border-radius: 50%;

          }
        }
        .comment-insides{
          background: $color-comment;
          .comment-info{
            border-bottom-color: $color-border;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            margin-left: 10px;
            padding: 5px 10px 0px 10px;
            a{
              font-size: 25px;
            }
            .post-time{
              float: right;
              color: $color-unactive;
            }
          }
          .comment-content{
            font-size: 16px;
            margin-left: 10px;
            margin-bottom: 0;
            margin-top: 10px;
            padding: 5px 10px 10px 10px;
            line-height: 1.5;
            color: $color-main !important;
          }
          .comment-content:hover{
            color: $color-main-hover !important;
          }
        }
      }
    }
  }
  clear:both;
}

hr{
  max-width: 250px;
  margin: 5px auto 15px 0px;
  opacity: 0.4;
  border-color: $color-main;
}

.input-group-btn{

  a{
    text-decoration: none;
    margin-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  .content-wrapper{
    .project-section{
      .project-name{
        font-size: 30px;
      }
      .project-info{
        .basic-info{
          width: 90%;
        }
        .additional-info{
          width: 90%;
          text-align:center;
          hr{
            max-width: 100%;
          }
        }
      }
      .comments{
        .comments-header{
          font-size: 30px;
        }
        .comment{
          margin: auto 0 30px 0;
          width: 100%;
          .avatar-container{
            .author-image{
              width: 60px;
              height: 60px;
            }
          }
          .comment-insides{
            .comment-info{
              a{
                font-size: 16px;
              }
              span{
                font-size: 16px;
              }
            }
            .comment-content{
              font-size: 14px;
            }
          }
        }
      }
    }
    .author-section{
       .team-specs{
         .spec{
           .spec-container{
             .spec-name {

             }
             .btn-apply{
               margin: 0;
             }
           }
         }
       }
    }
  }
}
