html, body {
  font-family: "Raleway", sans-serif !important;
  font-size: 16px;
  font-weight: 300 !important;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #F2F1ED;
  z-index: 2; }

p, li {
  color: #AFA8A2 !important; }

p:hover, li:hover {
  color: #333333 !important; }

a {
  text-decoration: none !important;
  color: #D66360; }

.navbar-default {
  text-align: center;
  background: transparent;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0; }

.dropdown-menu {
  left: -35%;
  text-align: center;
  border-width: 0px;
  background: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  .dropdown-menu li {
    background: transparent; }
    .dropdown-menu li a {
      color: white;
      font-family: "Raleway", sans-serif;
      font-weight: 300; }
  .dropdown-menu li:hover {
    background: transparent; }
    .dropdown-menu li:hover a {
      color: #D66360;
      background: transparent; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent; }

.navbar {
  position: absolute;
  border-radius: 0px;
  opacity: 0.95;
  margin: 0 auto; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  max-height: 955px; }

#nav.affix-top {
  position: absolute;
  background-color: transparent; }

#nav.affix {
  position: fixed;
  background-color: #272731;
  -webkit-transition: all .6s ease-in-out; }
  #nav.affix .container-fluid #bs-example-navbar-collapse-1 .navbar-nav li.dropdown ul.dropdown-menu {
    background-color: #272731; }

body {
  display: inline-block !important;
  width: 100% !important; }

#nav.affix {
  position: static; }

.content-wrapper {
  overflow: hidden;
  margin: 0 auto;
  clear: both; }
  .content-wrapper .leftPart {
    height: 452px;
    background-color: #546451; }
    .content-wrapper .leftPart .profile-image {
      height: 270px;
      min-width: 270px;
      width: 60%;
      margin: 0 auto;
      margin-top: 14%; }
      .content-wrapper .leftPart .profile-image a {
        display: block;
        height: 100%;
        max-width: 270px;
        margin: 0 auto; }
        .content-wrapper .leftPart .profile-image a img {
          height: 100%;
          width: 80%;
          max-width: 270px;
          max-height: 270px;
          min-width: 270px;
          min-height: 270px;
          display: block;
          margin: 0 auto; }
  .content-wrapper .rightPart {
    background-color: #766162; }
    .content-wrapper .rightPart .project-name {
      margin: 25px 0px 0px 0px;
      font-size: 24px;
      font-family: "Raleway", sans-serif;
      text-align: center; }
    .content-wrapper .rightPart .project-info .basic-info {
      width: 50%;
      margin: 25px auto 0px auto; }
      .content-wrapper .rightPart .project-info .basic-info p {
        text-align: left; }

.footer {
  display: inline-block;
  background-color: #454753;
  height: 70px; }

/*# sourceMappingURL=project.css.map */
