@font-face {
  font-family: Geomanist;
  src: url("../fonts/Geomanist-Regular.otf"); }
html, body, label {
  font-family: Geomanist !important;
  font-size: 16px;
  font-weight: 300 !important;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #F3F3F3;
  z-index: 2; }

p, li {
  color: #3F3F3F !important; }

a {
  text-decoration: none !important;
  color: #B8807F; }

a:hover {
  color: #985C5A; }

.navbar-default {
  text-align: center;
  background: transparent;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0; }
  .navbar-default .container-fluid .navbar-header .navbar-brand img {
    display: inline-block;
    margin: 0;
    max-height: 50px;
    position: relative;
    bottom: 15px;
    right: 10px; }
  .navbar-default .container-fluid .navbar-header .navbar-brand .brand-name {
    display: inline-block;
    color: #F3F3F3 !important;
    position: relative;
    bottom: 14px; }

.dropdown-menu {
  z-index: 10;
  left: -35%;
  text-align: center;
  border-width: 0px;
  background: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  .dropdown-menu li {
    background: transparent; }
    .dropdown-menu li a {
      color: white;
      font-family: Geomanist;
      font-weight: 300; }
  .dropdown-menu li:hover {
    background: transparent; }
    .dropdown-menu li:hover a {
      color: #B8807F;
      background: transparent; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent; }

.navbar {
  position: absolute;
  border-radius: 0px;
  opacity: 0.95;
  margin: 0 auto; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  max-height: 955px; }

#nav.affix-top {
  position: absolute;
  background-color: transparent; }

#nav.affix {
  position: fixed;
  background-color: #34495E;
  -webkit-transition: all .6s ease-in-out; }
  #nav.affix .container-fluid #bs-example-navbar-collapse-1 .navbar-nav li.dropdown ul.dropdown-menu {
    background-color: #34495E; }

footer {
  text-align: center;
  margin: 0;
  background: #34495E;
  position: relative; }

.footer-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: inline-block; }

.logo-sector {
  display: inline-block; }
  .logo-sector img {
    max-height: 200px; }

.copyrights {
  text-align: center;
  margin: 0px auto 0px auto; }

.copyright {
  margin: 0;
  color: #F3F3F3 !important;
  margin-top: 20px; }

.list-inline {
  text-align: left;
  margin-left: 10px; }

.list-inline li {
  font-weight: 300; }

.social_list a {
  text-decoration: none !important; }

.social_btn {
  display: inline;
  color: white; }

p, li {
  text-decoration: none; }

.social-header {
  color: #F3F3F3 !important;
  text-align: left;
  line-height: 3;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 20px; }

.icon, .social-icon {
  display: block;
  width: 35px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 3px;
  float: left;
  color: #FFF;
  font-size: 16px;
  text-align: center; }

.social-icon {
  height: 35px;
  margin-top: 5px;
  margin-right: 5px; }

.social-icon i {
  line-height: 2px; }

.social-icon.fb {
  background: #3B5998; }

.social-icon.google {
  background: #DD4B39; }

.social-icon.linkedIn {
  background: #3E5065; }

.footer-row {
  margin: 0; }

.subscription-header {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #F3F3F3 !important;
  text-align: right;
  margin-bottom: 0; }

.subscription {
  margin-top: 20px; }

@media screen and (max-width: 767px) {
  .footer-container {
    max-width: 100%; }

  .subscr-sector {
    padding-right: 0;
    margin: 0 auto; }
    .subscr-sector .subscription-header {
      margin-bottom: 20px;
      margin-top: 10px;
      font-size: 16px;
      text-align: center; }

  .subscr-sector .subscription {
    margin-top: 0; }

  .social-sector {
    padding-left: 0; }
    .social-sector .social-header {
      font-size: 15px;
      text-align: center; }
    .social-sector .social_list {
      display: inline-block; }

  .copyrights .list-inline {
    text-align: center; }

  .caption {
    font-size: 35px !important; }

  .contrast h4 {
    font-size: 20px !important; }

  .input-group-btn a.button {
    padding: 0; } }
.xs-input {
  height: 30px; }

.footer-content {
  display: inline-block; }

input.xs-input {
  border-radius: 0px !important;
  -webkit-appearance: none !important; }

body {
  width: 100% !important;
  background-color: #336E7B !important; }

span {
  color: #747474; }

#nav.affix {
  position: relative; }

.content-wrapper {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  clear: both; }
  .content-wrapper .author-section {
    font-size: 20px;
    color: white !important; }
    .content-wrapper .author-section .profile-image {
      height: 270px;
      min-width: 270px;
      width: 60%;
      margin: 0 auto;
      margin-top: 14%; }
      .content-wrapper .author-section .profile-image a {
        display: block;
        height: 100%;
        max-width: 270px;
        margin: 0 auto; }
    .content-wrapper .author-section .author-name {
      margin: 20px auto;
      font-size: 30px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-weight: 400; }
      .content-wrapper .author-section .author-name a {
        color: #F3F3F3; }
    .content-wrapper .author-section .user-action-buttons {
      margin: 0px auto 20px auto; }
      .content-wrapper .author-section .user-action-buttons .btn-follow {
        text-align: center;
        margin-bottom: 20px; }
        .content-wrapper .author-section .user-action-buttons .btn-follow a {
          font-size: 20px; }
      .content-wrapper .author-section .user-action-buttons .action-buttons {
        margin-top: 10px;
        list-style-type: none;
        text-align: center;
        font-size: 20px;
        display: inline-block;
        width: 100%; }
        .content-wrapper .author-section .user-action-buttons .action-buttons li {
          display: inline-block;
          margin-left: 25px;
          margin-right: 25px; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li a {
            display: inline-block; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li .fa-heart-o {
            color: #B8807F; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li .fa-star-o {
            color: #DBCB52; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li .fa-eye {
            color: #86B7CF; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li .fa-heart-o:hover {
            color: #D77C7A; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li .fa-star-o:hover {
            color: #FFED5F; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li .fa-eye:hover {
            color: #AED6E9; }
          .content-wrapper .author-section .user-action-buttons .action-buttons li p {
            color: #F3F3F3 !important;
            margin: 0;
            font-size: 30px; }
    .content-wrapper .author-section .team-header {
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      color: #F3F3F3;
      font-size: 22px;
      margin: 40px auto 0px auto; }
    .content-wrapper .author-section .team-specs {
      margin-bottom: 20px;
      text-align: center; }
      .content-wrapper .author-section .team-specs .spec {
        margin-top: 20px;
        margin-bottom: 20px; }
        .content-wrapper .author-section .team-specs .spec .spec-container {
          display: inline-block;
          width: 100%;
          text-align: center; }
          .content-wrapper .author-section .team-specs .spec .spec-container .spec-name {
            max-width: 80%;
            margin: 0;
            display: inline-block;
            font-size: 18px;
            color: #F3F3F3; }
          .content-wrapper .author-section .team-specs .spec .spec-container .spec-name:hover {
            color: white; }
          .content-wrapper .author-section .team-specs .spec .spec-container .btn-apply {
            display: inline-block;
            float: center;
            max-width: 46px;
            margin-left: 10px;
            font-size: 20px;
            padding-left: 15px;
            padding-right: 15px;
            color: #F3F3F3;
            text-align: center; }
          .content-wrapper .author-section .team-specs .spec .spec-container .btn-apply:hover {
            color: white; }
    .content-wrapper .author-section .team-count {
      font-size: 30px;
      color: #F3F3F3 !important;
      font-weight: 100; }
  .content-wrapper .project-section {
    border-left-color: #548894;
    border-left-style: solid;
    border-left-width: 2px;
    font-size: 18px;
    background-color: #F3F3F3; }
    .content-wrapper .project-section .project-name {
      padding: 65px 0px 60px 0px;
      font-size: 40px;
      font-family: Geomanist;
      font-weight: 400;
      text-align: center;
      color: #3F3F3F;
      border-bottom: #D8D8D8;
      border-bottom-width: 2px;
      border-bottom-style: solid; }
    .content-wrapper .project-section .project-info .basic-info {
      width: 50%;
      margin: 25px auto 0px auto; }
      .content-wrapper .project-section .project-info .basic-info p {
        margin-bottom: 10px;
        text-align: left;
        display: inline-block;
        min-width: 100px; }
      .content-wrapper .project-section .project-info .basic-info span {
        display: inline; }
    .content-wrapper .project-section .project-info .additional-info {
      width: 50%;
      margin: 50px auto 60px auto; }
      .content-wrapper .project-section .project-info .additional-info .progress-bar-header {
        color: #3F3F3F !important;
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px; }
      .content-wrapper .project-section .project-info .additional-info .progress {
        border-radius: 0;
        margin-bottom: 60px; }
      .content-wrapper .project-section .project-info .additional-info .attachments, .content-wrapper .project-section .project-info .additional-info .links, .content-wrapper .project-section .project-info .additional-info .media {
        font-size: 25px; }
        .content-wrapper .project-section .project-info .additional-info .attachments .attachments-list, .content-wrapper .project-section .project-info .additional-info .links .attachments-list, .content-wrapper .project-section .project-info .additional-info .media .attachments-list {
          font-size: 16px;
          list-style-type: none; }
          .content-wrapper .project-section .project-info .additional-info .attachments .attachments-list .attachment, .content-wrapper .project-section .project-info .additional-info .links .attachments-list .attachment, .content-wrapper .project-section .project-info .additional-info .media .attachments-list .attachment {
            display: block;
            font-size: 16px; }
      .content-wrapper .project-section .project-info .additional-info .links, .content-wrapper .project-section .project-info .additional-info .media {
        margin-top: 20px; }
        .content-wrapper .project-section .project-info .additional-info .links .links-list, .content-wrapper .project-section .project-info .additional-info .media .links-list {
          font-size: 16px;
          list-style-type: none; }
          .content-wrapper .project-section .project-info .additional-info .links .links-list .link, .content-wrapper .project-section .project-info .additional-info .media .links-list .link {
            display: block;
            font-size: 16px; }
      .content-wrapper .project-section .project-info .additional-info .media .media-list {
        font-size: 16px;
        list-style-type: none; }
        .content-wrapper .project-section .project-info .additional-info .media .media-list .media {
          display: inline-block;
          max-width: 200px;
          margin: auto 10px auto 0px; }
          .content-wrapper .project-section .project-info .additional-info .media .media-list .media img {
            max-width: 100%;
            max-height: 100%; }
          .content-wrapper .project-section .project-info .additional-info .media .media-list .media .media-header {
            margin-top: 10px;
            text-align: center;
            font-size: 16px; }
    .content-wrapper .project-section .comments {
      border-top: #D8D8D8;
      border-top-width: 2px;
      border-top-style: solid; }
      .content-wrapper .project-section .comments .comments-header {
        padding: 60px;
        text-align: center;
        font-size: 35px;
        margin: 0; }
      .content-wrapper .project-section .comments .comment {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px; }
        .content-wrapper .project-section .comments .comment .avatar-container {
          text-align: right; }
          .content-wrapper .project-section .comments .comment .avatar-container .author-image {
            margin-right: 30px;
            float: center;
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 50%; }
        .content-wrapper .project-section .comments .comment .comment-insides {
          background: #EAE8E8; }
          .content-wrapper .project-section .comments .comment .comment-insides .comment-info {
            border-bottom-color: #D8D8D8;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            margin-left: 10px;
            padding: 5px 10px 0px 10px; }
            .content-wrapper .project-section .comments .comment .comment-insides .comment-info a {
              font-size: 25px; }
            .content-wrapper .project-section .comments .comment .comment-insides .comment-info .post-time {
              float: right;
              color: #827878; }
          .content-wrapper .project-section .comments .comment .comment-insides .comment-content {
            font-size: 16px;
            margin-left: 10px;
            margin-bottom: 0;
            margin-top: 10px;
            padding: 5px 10px 10px 10px;
            line-height: 1.5;
            color: #747474 !important; }
          .content-wrapper .project-section .comments .comment .comment-insides .comment-content:hover {
            color: #3F3F3F !important; }

hr {
  max-width: 250px;
  margin: 5px auto 15px 0px;
  opacity: 0.4;
  border-color: #747474; }

.input-group-btn a {
  text-decoration: none;
  margin-left: 5px; }

@media screen and (max-width: 767px) {
  .content-wrapper .project-section .project-name {
    font-size: 30px; }
  .content-wrapper .project-section .project-info .basic-info {
    width: 90%; }
  .content-wrapper .project-section .project-info .additional-info {
    width: 90%;
    text-align: center; }
    .content-wrapper .project-section .project-info .additional-info hr {
      max-width: 100%; }
  .content-wrapper .project-section .comments .comments-header {
    font-size: 30px; }
  .content-wrapper .project-section .comments .comment {
    margin: auto 0 30px 0;
    width: 100%; }
    .content-wrapper .project-section .comments .comment .avatar-container .author-image {
      width: 60px;
      height: 60px; }
    .content-wrapper .project-section .comments .comment .comment-insides .comment-info a {
      font-size: 16px; }
    .content-wrapper .project-section .comments .comment .comment-insides .comment-info span {
      font-size: 16px; }
    .content-wrapper .project-section .comments .comment .comment-insides .comment-content {
      font-size: 14px; }
  .content-wrapper .author-section .team-specs .spec .spec-container .btn-apply {
    margin: 0; } }

/*# sourceMappingURL=project.css.map */
