@import 'index';

#nav.affix{
  position: relative;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.15);
}

.content-wrapper{
  margin: 0 auto;
  .project-section{
    margin-top: 40px;
  }
}

.menu-top{
  width:100%;
}

.panels{
  text-align: center;

  .panel-profile{
    z-index: 29;
  }

  .panel-hashtag{
    @extend .panel-profile;
  }
}

.menu{
  list-style-type: none;
  margin-top: 105px;
  .menu-item{
    font-size: 20px;
    font-family: $font-geo;
    text-align:center;
    a{
      display:block;
      padding:20px;
      color: $color-main;
    }
  }

  .menu-item-header{
    font-size: 30px;
    padding: 20px 5px;
  }

  .menu-item:hover{
    background-color: #ECEAEA;
  }
}

.search-header{
  text-align:center;
  font-family: $font-family-main;
  font-size: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.profile-img{
  margin: 10px auto;
  width: auto;
  a{
    width: auto;
    display:block;
    text-align:center;
    img{
      max-width: 100%;
      max-height: 150px;
      margin: 0 auto;
    }
  }
}

.author-email{
  text-align:center;
}

.status{
  text-align:center;
  margin-bottom: 20px !important;
}

.author{
  text-align:center;
}

.status-available{
}

.search-group{
  max-width:65%;
}

.btn-load{
  display:block;
  text-align:center;
}

.hashtag-params{
  @extend .project-params;
  margin: 20px auto !important;
}

@media screen and (max-width: 767px) {
  .project-section{
    margin-top: 0px;
  }
}
